.add-group__layout {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.40);
    z-index: 1000;
}
.add-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 150px;
    margin-top: 100px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}
.add-group__margin {
    margin-top: 30px;
}