.price-panel__inputs {
    margin-bottom: 50px;
}
.price-panel__ipt {
    width: 500px;
    height: 27px;
    padding-left: 5px;
}
.price-panel__title {
    font-size: 17px;
}
.price-panel__overlay {
    padding: 7px;
    border: 1px solid rgb(203, 203, 203);
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}
.price-panel__table-overlay {
    text-align: center;
}
.price-panel__center {
    padding: 5px;
    text-align: center;
}
.price-panel__num {
    font-size: 17px;
    font-weight: 700;
}
.price-panel__additem {
    background-color: rgba(207, 207, 207, 0.445);
}