.home__settings {
    width: 100%;
    margin-top: 15px;
}
.home__settings-wrapper {
    display: flex;
    margin-bottom: 10px;
}
.home__inputs {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home__filters {
    display: flex;
}
.home__filter {
    margin-left: auto;
}
.home__title {
    font-size: 16px;
    font-weight: 700;
    margin-right: 5px;
}
.home__ipt-datepicker {
    width: 90px;
    font-size: 15px;
    margin-right: 15px;
    text-align: center;
    font-family: Montserrat, sans-serif;
}
.home__ipt-search {
    margin-right: 15px;
    padding-left: 5px;
    font-family: Montserrat, sans-serif;
}
.home__btn-excel {
    padding: 4px 9px;
}
.home__statuses {
    display: flex;
    align-items: center;
}
.home__statuses-item {
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 2px 4px;
    border-radius: 5px;
}
.table {
    margin-top: 20px;
}