.create-cour__ipts {
    width: 33%;
    margin-right: 50px;
}
.create-cour__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: rgb(214, 214, 214);
}
.create-cour__btn {
    padding: 17px;
    font-size: 18px;
}
.create-cour__select {
    width: 276px;
    height: 25px;
}
.create-cour__cards {
    width: 33%;
    margin-bottom: auto;
}
.create-cour__card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.create-cour__num {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 50%;
    background-color: rgb(214, 214, 214);
}
.create-cour__card-ipt {
    width: 95%;
    max-height: 100px;
    height: 30px;
    min-height: 30px;
    resize: vertical;
}