.extra-contact__item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(228, 228, 228, 0.527);
    margin-bottom: 10px;
    border-radius: 15px;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.extra-contact__close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: -15px;
    margin-right: -15px;
    width: 17px;
    height: 17px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    cursor: pointer;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }