.courier-view-card__header {
    margin: 20px 0 20px 0;
}
.courier-view-card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 25px;
}
.courier-view-card__height {
    height: 25px;
    margin-right: 20px;
    box-sizing: border-box;
}