.back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(223, 223, 223);
    box-shadow: 0 2px 0 rgb(185, 185, 185);
}