.export-excel__layer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.40);
    z-index: 1000;
}
.export-excel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 90px;
    margin-top: 100px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}
.export-excel__title-block {
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 5px 12px;
    border-radius: 5px 5px 0 0;
    background-color: rgb(226, 226, 226);
    box-sizing: border-box;
}
.export-excel__inputs {
    padding: 10px;
}
.export-excel__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
}
.export-excel__datepicker {
    margin-right: 5px;
}