.admin-panel__item {
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    color: rgb(75, 75, 75);
    text-decoration: none;
}
.admin-panel__ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
    font-size: 40px;
    border-radius: 50%;
    -webkit-box-shadow: -1px 0px 14px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow:    -1px 0px 14px 0px rgba(50, 50, 50, 0.54);
    box-shadow:         -1px 0px 8px 0px rgba(50, 50, 50, 0.54);
    transition: .1s linear;
}
.admin-panel__ico:hover {
    color: #fff;
    background-color: rgb(75, 75, 75);
}
.admin-panel__datepicker {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-size: 15px;
    margin-right: 10px;
    text-align: center;
}
.admin-panel__button {
    height: 32px;
}