.services-panel__item {
    margin-right: 20px;
}
.services-panel__title {
    margin-bottom: 10px;
}
.services-panel__close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -22px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    cursor: pointer;
}