.container {
  max-width: 1400px;
  margin: 0 auto;
}
.wrapper {
  margin-bottom: 100px;
}
.btn {
  padding: 5px 9px;
  width: auto;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 4px;
  background-color: #4cae4c;
  color: #fff;
  text-decoration: none;
  transition: .2s linear;
  cursor: pointer;
}
.btn:hover {
  background-color: #449e44;
}
.ipt {
  height: 20px;
  font-size: 15px;
  border: 1px solid #acaaaa;
  border-radius: 4px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
.ipt:focus {
  border: 1px solid #4ed5da;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.btn__right {
  margin-left: auto;
}
.mar {
  margin-right: 5px;
}
.mar-top {
  margin-top: 10px;
}
.mar-l {
  margin-left: 5px;
}
.main {
  margin-bottom: 3px;
  font-size: 7px;
  color: red;
}
.bold {
  font-weight: 700;
}
.table-auto {
  width: 100%;
}
.margin-bottom {
  margin-bottom: 10px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox {
  width: 30px;
  height: 30px;
}
.checkbox-20 {
  width: 20px;
  height: 20px;
}
.tar {
  text-align: right !important;
}
.disabled {
  padding: 5px 9px;
  width: auto;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  background-color: #ccc;
  cursor: not-allowed;
}