.auto__btn {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 50%;
    outline: none;
    transition: .05s ease-in;
}
.auto__btn:hover {
    font-size: 19px;
}
.auto__links {
    position: absolute;
    top: 130px;
    right: 140px;
    width: 160px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: right;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(231, 231, 231);
}
.auto__links-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: rgb(75, 75, 75);
    text-decoration: none;
}
.auto__links-item:hover {
    font-weight: 700;
    background-color: rgb(221, 221, 221);
}
.auto__excel {
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
    outline: none;
    transition: .1s linear;
}