.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 280px;
    height: auto;
    min-height: 30px;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    font-weight: 700;
    background: rgba(180, 180, 180, 0.4);
    box-shadow: 0px 3px 3px rgba(140, 140, 140, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    -webkit-animation: slide-fwd-left 7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-fwd-left 7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    z-index: 1001;
}

@-webkit-keyframes slide-fwd-left {
  0% {
    -webkit-transform: translateZ(0) translateX(100px);
            transform: translateZ(0) translateX(100px);
  }
3% {
    -webkit-transform: translateZ(160px) translateX(-5px);
            transform: translateZ(160px) translateX(-5px);
}
  25% {
    -webkit-transform: translateZ(160px) translateX(-5px);
            transform: translateZ(160px) translateX(-5px);
  }
  50% {
    -webkit-transform: translateZ(160px) translateX(-5px);
            transform: translateZ(160px) translateX(-5px);
    }
  75% {
    -webkit-transform: translateZ(160px) translateX(-5px);
            transform: translateZ(160px) translateX(-5px);
  }
  99% {
    -webkit-transform: translateZ(160px) translateX(-5px);
            transform: translateZ(160px) translateX(-5px);
            opacity: 1;
}
  100% {
      opacity: 0;
  }
  }
  @keyframes slide-fwd-left {
    0% {
        -webkit-transform: translateZ(0) translateX(100px);
                transform: translateZ(0) translateX(100px);
      }
    3% {
        -webkit-transform: translateZ(160px) translateX(-5px);
                transform: translateZ(160px) translateX(-5px);
    }
      25% {
        -webkit-transform: translateZ(160px) translateX(-5px);
                transform: translateZ(160px) translateX(-5px);
      }
      50% {
        -webkit-transform: translateZ(160px) translateX(-5px);
                transform: translateZ(160px) translateX(-5px);
        }
      75% {
        -webkit-transform: translateZ(160px) translateX(-5px);
                transform: translateZ(160px) translateX(-5px);
      }
      99% {
        -webkit-transform: translateZ(160px) translateX(-5px);
                transform: translateZ(160px) translateX(-5px);
                opacity: 1;
    }
      100% {
          opacity: 0;
      }
  }
  