.delivery-address__item {
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(204, 204, 204, 0.5);
    overflow: hidden;
}
.delivery-address__layer {
    padding: 20px 20px 20px 20px;
    margin: -20px -20px 10px -20px;
    border-radius: 0 0 25px 25px;
    -webkit-box-shadow: -1px 2px 11px 0px rgba(163,163,163,1);
    -moz-box-shadow: -1px 2px 11px 0px rgba(163,163,163,1);
    box-shadow: -1px 2px 11px 0px rgba(163,163,163,1);
    background-color: rgb(212, 212, 212);
}
.delivery-address__num {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 700;
    color: #fff;
    background-color:rgb(107, 107, 107);
}
.delivery-address__timeline {
    width: 20%;
}
.delivery-address__ipt {
    height: 30px;
    font-size: 18px;
    margin-bottom: 0;
}
.delivery-address__title {
    margin-bottom: 5px;
}
.delivery-address__textarea {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 0;
    /* background-color: #ccc; */
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
.delivery-address__select {
    font-size: 15px;
    background: inherit;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px rgba(144, 144, 144, 0.5);
    outline: none;
    font-family: Montserrat;
}
.delivery-address__help {
    margin: 10px 0;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
.delivery-address__select-item {
    height: 31px;
}
.delivery-address__layered {
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
    -webkit-box-shadow: -1px 2px 7px 0px rgba(163,163,163,1);
    -moz-box-shadow: -1px 2px 7px 0px rgba(163,163,163,1);
    box-shadow: -1px 2px 7px 0px rgba(163,163,163,1);
    background-color: rgb(233, 232, 232);
}
.edge__bottom {
    padding: 20px;
    margin: 0 -20px -20px -20px;
    border-radius: 25px;
    background-color: rgb(223, 223, 223);
    box-shadow: 20px -5px 17px 5px rgba(0, 0, 0, .2);
}