.reg {
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reg__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 0 10px 40px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
    box-shadow: 4px 3px 28px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 3px 28px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 28px -10px rgba(0,0,0,0.75);
}
.reg__tablist {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    list-style-type: none;
}
.reg__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.react-tabs__tab--selected {
    font-weight: 700;
    border-bottom: 2px solid #4ed5da;
}
.reg__tabpanel {
    display: flex;
    flex-direction: column;
}
.reg__ipt {
    width: 400px;
    height: 25px;
    color: rgb(75, 75, 75);
    font-size: 15px;
    margin-bottom: 20px;
    padding: 3px 3px 3px 5px;
    border: none;
    border-bottom: 1px solid rgb(75, 75, 75);
    outline: none;
    background-color: inherit;
    font-family: Montserrat, sans-serif;
}
.reg__ipt:focus {
    border-bottom: 1px solid #4ed5da;
}
.reg__btn {
    height: 35px;
}
.errors-password {
    font-size: 11px;
    color: red;
}
.reg__hide {
    margin-left: -20px;
    margin-bottom: 20px;
}