.create-order__block {
    width: 70%;
}
.create-order__time-block {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.create-order__ipt {
    height: 27px;
    font-size: 15px;
    padding-left: 7px;
    background-color: rgb(238, 237, 237);
    border: 1px solid #ccc;
    border-radius: 25px;
    font-family: Montserrat, sans-serif;
    outline: none;
}
.create-order__date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 30px;
    font-weight: 700;
    background-color: #dff0d8;
    margin-left: auto;
    border-radius: 25px;
}
.create-order__radio {
    display: flex;
    align-items: center;
    width: 280px;
    margin-right: 25px;
}
.create-order__radio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin: 0 5px 0 0;
    border-radius: 50%;
    background-color: rgb(218, 218, 218);
    transition: .2s linear;
}
.create-order__radio-item--active {
    color: #fff;
    background-color: rgb(75, 75, 75);
}
.create-order__radio-item-text {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-right: 10px;
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .create-order__order-info {
      margin-top: 30px;
      padding: 7px 10px 7px 20px;
      background-color: rgb(236, 236, 236);
      border-radius: 25px;
  }
  .create-order__ipt-select {
    height: 30px;
    padding: 0 7px;
    margin-left: 7px;
    background-color: rgb(224, 224, 224);
    border-radius: 25px;
  }
  .create-order__datepicker {
    height: 26px;
    padding: 0 7px;
    margin-left: 7px;
    background-color: rgb(224, 224, 224);
    border-radius: 25px;
  }
  .create-order__btn-edit {
      width: 40px;
      height: 40px;
      font-size: 17px;
      padding: 0;
      border-radius: 50%;
  }
.create-order__edit-block {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    border-radius: 25px;
}
.create-order__edit-block--hide {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    border-radius: 25px;
    opacity: .5;
    cursor: not-allowed;
}
.create-order__margin {
    margin-top: 20px;
    margin-bottom: 10px;
}
.create-order__title {
    font-size: 20px;
}
.create-order__btn {
    width: 35px;
    height: 35px;
}
.edit-block__ipt {
    height: 25px;
    color: rgb(75, 75, 75);
    font-size: 15px;
    margin-bottom: 20px;
    padding: 3px 3px 3px 5px;
    border: none;
    border-bottom: 1px solid rgb(75, 75, 75);
    outline: none;
    background-color: inherit;
    font-family: Montserrat, sans-serif;
}
.edit-block__ipt--textarea {
    min-height: 27px;
    height: 27px;
    max-height: 200px;
    line-height: 1.7;
    resize: vertical;
}
.create-order__price {
    text-align: right;
    margin-top: 20px;
}
.create-order__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}