.burger-menu__layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.40);
    z-index: 1;
}
.burger-menu--close {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 100%;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    z-index: 1000;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.burger-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 18px !important;
    border-radius: 5px !important;
    margin-bottom: 15px;
}
.burger-menu__close {
    width: 30px;
    height: 30px;
    font-size: 20px;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-350px);
              transform: translateX(-350px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-350px);
              transform: translateX(-350px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  

  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-350px);
              transform: translateX(-350px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {

      -webkit-transform: translateX(-350px);
              transform: translateX(-350px);
    }
  }
.footer__item {
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
    padding: 5px 8px;
    color: rgb(75, 75, 75);
    border: 1px solid rgb(75, 75, 75);
    border-radius: 25px;
    transition: .2s linear;
    text-decoration: none;
    background-color: #fff;
}
.footer__item:hover {
    color: #fff;
    background-color: rgb(75, 75, 75);
}
.footer__item--active {
    color: #fff;
    background-color: rgb(75, 75, 75);
}
  