.create-cli__ipts {
    width: 48%;
    margin-bottom: auto;
}
.create-cli__cards {
    display: flex;
    flex-direction: column;
    width: 52%;
    margin-bottom: auto;
}
.create-cli__card {
    margin-bottom: 10px;
}
.create-cli__textarea {
    width: 98%;
    min-height: 50px;
    height: 50px;
    max-height: 200px;
    line-height: 1.5;
    resize: vertical;
}