.tablist {
    padding: 0;
}
.products-panel__ipt {
    width: 110px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
}
.products-panel__item {
    background-color: rgb(240, 240, 240);
}
.products-panel__overlay {
    background-color: rgb(219, 219, 219);
}
.products-panel__title {
    padding: 3px;
    border: 1px solid #ccc;
}
.products-panel__table {
    width: 30%;
}
.products-panel__ipt-name {
    width: 80%;
    margin: 3px;
}