.notif {
    width: 100%;
}
.notif__message {
    padding: 10px;
    font-weight: 700;
    border-radius: 4px;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
}
.notif__ipt {
    width: 50%;
    min-height: 50px;
    height: 70px;
    max-height: 200px;
    font-size: 16px;
    padding: 7px;
    box-sizing: border-box;
    line-height: 1.7;
    resize: vertical;
}
.notif__checkbox {
    margin-top: 7px;
}
.notif__btn {
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-left: 7px;
    font-size: 18px;
    border-radius: 50%;
    outline: none;
}