table {
    border-spacing: 0px !important;
}
.table__title-overlay {
    font-size: 12px;
    background-color: rgb(221, 219, 219);
}
.table__title {
    padding: 5px;
    text-align: center;
    border-right: .5px solid #ccc;
    border-left: .5px solid #ccc;
}
.table-map {
    font-size: 12px;
    border: 1px solid #ccc !important;
    background-color: rgb(250, 249, 249);
}
.table-map__item {
    text-align: center;
    padding: 5px;
    border: 0.1px solid #ccc;
    line-height: 1.5;
}