html, 
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(75, 75, 75);
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
