.nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
}
.nav__container {
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.nav__logo {
    width: 256px;
    height: 40px;
}
.nav__links-item {
    margin: 0 10px;
    font-size: 16px;
    color: rgb(75, 75, 75);
    font-weight: 700;
    text-decoration: none;
    transition: .2s linear;
}
.nav__links-item:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(75, 75, 75);
}
.nav__links-item--active {
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(75, 75, 75);
}
.nav__links-item--out {
    color: #a94442;
}
.nav__links-item--out:hover {
    border-bottom: 2px solid#a94442;;
}
.nav__phone {
    font-size: 20px;
    font-weight: 700;
    color: rgb(75, 75, 75);
    cursor: pointer;
}
.burger-btn {
    margin-right: 10px;
    font-size: 20px;
}